.container-fluid {
	margin: 25px 25px;
	padding: 25px 10px;
	border: 5px solid gray;
}

 #map {
   width: 100%;
   height: 500px;
   background-color: grey;
 }

article {
	height: 40px;
	border: 1px solid blue;
	margin: 0 0 10px 0;
	text-align: center;
	line-height: 40px;
}

@media screen and (min-width: 576px) {
  html {
    font-size: .8rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}

@media screen and (min-width: 576px) {
  article.span12 {
    font-size: .7rem;
    width: auto;
  }
}

@media screen and (min-width: 992px) {
  article.span12 {
    font-size: .9rem;
    width: auto;
  }
}

img {
	margin: 0 0 20px 0;
}